#jumbotron-section {
  margin-top: 4rem; /* Default margin for desktop */
}

/* For smaller devices (tablets) */
@media (max-width: 1024px) {
  #jumbotron-section {
    margin-top: 6rem;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  #jumbotron-section {
    margin-top: 8rem;
  }
}

/* For extra small devices */
@media (max-width: 480px) {
  #jumbotron-section {
    margin-top: 10rem;
  }
}
